$dark_gray: #363432;
$dark_gray-hover: #535251;
$light_gray: #90a19d;
$light_gray2: #c6c6c6;
$main_green: #196774;
$main_green-hover: #267988;
$light_orange: #f0941f;
$main_orange: #ef6024;
$text_color: white;
$white_background: #f8f8f8;
$red: #FF6969;

$font_small: 16px;
$font_medium: 18px;
$font_headers: 24px;

$margin_small: 10px;
$margin_medium: 25px;
$margin_big: 60px;

$container_size: 1100px;

$border_radius: 5px;
